$header-height: 80px;

section.header {
    & {
        background-color: $primary;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: $header-height;
    }

    .header-brand {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $header-height;
        height: $header-height;
    }
}
